<div class="overlay-content">
    <h2>
        p0weruser wechselt den Besitzer
    </h2>
</div>
<div class="overlay-content">
    <div id="container">
        Da ich zeitlich leider zu sehr in anderen Projekten eingespannt bin, habe ich in Absprache mit
        <a href="/user/RundesBalli" target="_blank">@RundesBalli</a> den <strong>p0weruser in neue Hände gegeben</strong>.

        <p>
            Da wir diesen Transfer nicht hinter Deinem Rücken durchführen wollen, siehst Du jetzt diese Nachricht.
            Zukünftig wird <a href="/user/PoTTii" target="_blank">@PoTTii</a> für die Wartung und Betreuung des UserScripts zuständig sein.
        </p>

        <p>
            Du kannst die neue Version mit einem klick auf den folgenden Button installieren. <strong>Deinstalliere bitte anschließend die alte Version</strong>, um Probleme zu vermeiden.
            Möchtest Du den SourceCode einsehen, so kannst Du dies ebenfalls über den bereitgestellten Button erledigen.
        </p>

        <p>
            <label>
                <input type="checkbox" id="hide_transfer"> Nachricht nicht mehr anzeigen
            </label>
        </p>

        <p class="margin-top">
            <a href="https://github.com/Scarwolf/p0weruser/raw/master/dist/p0weruser.user.js" target="_blank" class="confirm-button">Neue Version installieren</a>
            <a href="https://github.com/Scarwolf/p0weruser" target="_blank" class="confirm-button float-right">SourceCode ansehen</a>
        </p>
    </div>
</div>
